.home__page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.device__list {
  display: flex;
  flex-direction: column;
  background-color: #bbbbbb;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 2.5rem;
  color: var(--white);
  gap: 1rem;
}

.device {
  display: flex;
  gap: 1rem;
}

.btn__status {
  padding: 0.8rem 0.4rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.device__information {
  background-color: #bbbbbb;
  padding: 1.5rem;
}
